<article class="collection">
  <div class="title">
    {{title}}
    
  </div>
  <div class="meta">
    <a href="/collection/{{id}}">Has {{scrunchies.length}} {{format_plural "scrunchie" scrunchies.length}}</a>
  </div>
</article>