<article class="collection">
  <div class="title">
    {{title}}
    
  </div>
  <div class="meta">
    <a href="/collection/{{id}}">Has {{scrunchie_count}} {{format_plural "scrunchie" scrunchie_count}}</a>
  </div>
</article>