<article class="collection">
  <div class="title">
    <h2>{{title}}</h2>
  </div>
  <div class="meta">
    Has {{scrunchie_count}} {{format_plural "scrunchie" scrunchie_count}} types
  </div>
</article>