<div>
    <h3>Add Collection</h3>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col position-relative">
        <label for="validationTooltip01" class="form-label">Collection name</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
        <div class="valid-tooltip">
            Looks good!
        </div>
        </div>
        <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
<div>
<select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
</div>