<article>
  <a href="/Collection/{{id}}"> &larr; Back to Collection</a>
  <h2>
    Add Scrunchie
  </h2>
  <form class="edit-scrunchie-form">
    <div>
      <input name="scrunchie-title" type="text" placeholder="Scrunchie Name"/>
      <input name="scrunchie-inventory" type="number" placeholder="Number of Scrunchies made"/>
      <input name="scrunchie-cogs" type="number" placeholder="Cost of Materials"/>
    </div>
    <button type="submit" class="btn btn-success">Save Scrunchie</button>
  </form>
</article>



<script src="/mirandas-scrunchies/public/javascript/add-scrunchie.js"></script>
<script src="/javascript/scrunchie.js"></script>