<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Add Scrunchie
  </h2>
  <form class="edit-scrunchie-form">
    <div>
      <input name="scrunchie-title" type="text" value="{{scrunchie.title}}" />
    </div>
    <button type="submit" class="btn btn-success">Save scrunchie</button>
  </form>
</article>



<script src="/javascript/scrunchie.js"></script>