<div class="container-fluid">
  <div class="row">
    <div class="col-8 placeholder">col-8</div>
      <div class="col-4">
        <section>
          <h2>Create A New Collection</h2>

          <form class="new-collection-form">
            <div>
              <label for="collection-title">Title</label>
              <input type="text" id="collection-title" name="collection-title" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
        </section>
        {{#if collections.length}}
        <section>
          <h2>Your collections</h2>
          <ol>
            {{#each collections as |collection|}}
            <li>
              {{> collection-info collection}}
              <a href="/dashboard/edit/{{collection.id}}" class="edit-link">Edit collection</a>
            </li>
            {{/each}}
          </ol>
        </section>
        {{/if}}
        col-4
      </div>
    </div>
  </div>
</div>
