<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Scrunchie
  </h2>
  <form class="edit-collection-form">
    <div>

      <input name="collection-title" type="text" value="{{scrunchie.title}}" />
    </div>
    <button type="submit" class="btn btn-success">Save Scrunchie</button>
    <button type="button" class="btn btn-danger">Delete Scrunchie</button>
  </form>
</article>



<script src="/javascript/edit-scrunchie.js"></script>
<script src="/javascript/delete-scrunchie.js"></script>
<script src="/javascript/scrunchie.js"></script>