<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Collection
  </h2>
  <form class="edit-collection-form">
    <div>
      <input name="collection-title" type="text" value="{{collection.title}}" />
    </div>
    <div>
      <a href="/collection/{{collection.id}}">{{collection.scrunchies.length}} {{format_plural "scrunchie" collection.scrunchies.length}}</a>
    </div>
    <button type="submit">Save collection</button>
    <button type="button" class="delete-collection-btn">Delete collection</button>
  </form>
</article>

<form class="scrunchie-form">
  <div>
    <textarea name="scrunchie-body"></textarea>
  </div>

  <div>
    <button type="submit">add scrunchie</button>
  </div>
</form>

{{> scrunchies collection.scrunchies}}

<script src="/javascript/edit-collection.js"></script>
<script src="/javascript/delete-collection.js"></script>
<script src="/javascript/scrunchie.js"></script>