<article>
  <a href="/collection/{{collection.id}}"> &larr; Back to Collection</a>
  <h2>
    Edit Collection
  </h2>
  <form class="edit-collection-form">
    <div>
      <input name="collection-title" type="text" value="{{collection.title}}" />
    </div>
    <button type="submit" class="btn btn-success">Save Collection</button>
    <button type="button" class="btn btn-danger">Delete Collection</button>
  </form>
</article>



<script src="/javascript/edit-collection.js"></script>
<script src="/javascript/delete-collection.js"></script>
<script src="/javascript/scrunchie.js"></script>