<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit scrunchie
  </h2>
  <form class="edit-scrunchie-form">
    <div>
      <input name="scrunchie-title" type="text" value="{{scrunchie.title}}" />
    </div>
    <button type="submit" class="btn btn-success">Save scrunchie</button>
    <button type="button" class="btn btn-danger">Delete scrunchie</button>
  </form>
</article>



<script src="/javascript/edit-scrunchie.js"></script>
<script src="/javascript/delete-scrunchie.js"></script>
<script src="/javascript/scrunchie.js"></script>