<div class="d-flex p-2 justify-content-center">
  <div class="d-flex justify-content-center">
    <div class="p2">
      {{#if loggedIn}}
      {{else}}
      <h2>Please login to use this web app</h2>
      {{/if}}
    </div>
  </div>
</div>
