{{> collection-info collection}}
<a href="/dashboard/edit/{{collection.id}}" class="edit-link">Edit Collection</a>
{{#if loggedIn}}
<form class="scrunchie-form">
  <div>
  <a href="/dashboard/add/{{scrunchie.id}}"><button type="submit" class="btn btn-success">Add Scrunchie</button></a>
  </div>
</form>
{{/if}}

{{> scrunchies collection.scrunchies}}

{{#if loggedIn}}
<script src="/javascript/scrunchie.js"></script>
{{/if}}