{{> collection-info collection}}
<a href="/dashboard/edit/{{collection.id}}" class="edit-link">Edit collection</a>
{{#if loggedIn}}
<form class="scrunchie-form">
  <div>
    <textarea name="scrunchie-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-success">add scrunchie</button>
  </div>
</form>
{{/if}}

{{> scrunchies collection.scrunchies}}

{{#if loggedIn}}
<script src="/javascript/scrunchie.js"></script>
{{/if}}