{{> collection-info collection}}
<a href="/dashboard/edit/{{collection.id}}" class="edit-link">Edit collection</a>
{{#if loggedIn}}
<form class="scrunchie-form row">
  <div class="col">
    <label for="DropdownForCollection" class="form-label">Scrunchie Name</label>
    <input type="text" class="form-control" id="scrunchie-title" placeholder="Scrunchie Name">
  </div>
  <div class="col">
    <label for="DropdownForCollection" class="form-label">Scrunchie Inventory</label>
    <input type="number" class="form-control" id="scrunchie-inventory" placeholder="ex:2">
  </div>
  <div class="col">
    <label for="DropdownForCollection" class="form-label">Scrunchie Price</label>
    <input type="number" class="form-control" id="scrunchie-price" placeholder="ex:5">
  </div>
  <div class="col">
    <label for="DropdownForCollection" class="form-label">Scrunchie Cost</label>
    <input type="number" class="form-control" id="scrunchie-cost" placeholder="ex:1">
  </div>

  <div>
    <button type="submit" class="btn btn-success">add new scrunchie</button>
  </div>
</form>


{{> scrunchies collection.scrunchies}}

<script src="/javascript/scrunchie.js"></script>
{{/if}}