{{#if loggedIn}}
{{> scrunchie-info scrunchie}}
<a href="/dashboard/edit/scrunchie/{{scrunchie.collection_id}}" class="edit-link">Edit scrunchie</a>




<script src="/javascript/scrunchie.js"></script>
{{/if}}